@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="text-center">
    <h2>Links</h2>
    <ul class="list-unstyled">
        <li><a href="http://www.scriptspark.xyz">ScriptSpark - my technology blog</a></li>
        <li><a href="https://gitlab.com/users/penseleit/projects">My projects on Gitlab</a></li>
    </ul>
</div>
